<!-- Page Header -->
<div class="row intro-header">
    <div class="col-lg-12">
        <h1 class="page-header">Biomorphs
            <small>Playing With Evolution</small>
        </h1>
        {{intro-explanation}}
    </div>
</div>
<!-- /.row -->
<div class="biomorph-types">


<!-- Projects Row -->
<div class="row">
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/F44336/ffffff?text=Tree" alt="">
        </a>
        <h3>
          {{#link-to 'tree'}}
            Tree
          {{/link-to}}
        </h3>
        <p>A simulation of a biomorph tree.</p>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/03A9F4/ffffff?text=Insect" alt="">
        </a>
        <h3>
            <a href="#">Insects</a>
        </h3>
        <p>A simulation of a biomorph Insect.</p>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/8BC34A/ffffff?text=Chalice" alt="">
        </a>
        <h3>
            <a href="#">Chalice</a>
        </h3>
        <p>A simulation of a biomorph Chalice.</p>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/FFC107/ffffff?text=Candle" alt="">
        </a>
        <h3>
            <a href="#">Candle</a>
        </h3>
        <p>A simulation of a biomorph Candle.</p>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/607D8B/ffffff?text=Branch" alt="">
        </a>
        <h3>
            <a href="#">Branch</a>
        </h3>
        <p>A simulation of a biomorph Tree with Branch.</p>
    </div>
    <div class="col-md-4">
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/700x400/F5F5F5/DDDDDD?text=..." alt="">
        </a>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/F5F5F5/DDDDDD?text=..." alt="">
        </a>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/F5F5F5/DDDDDD?text=..." alt="">
        </a>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400/F5F5F5/DDDDDD?text=..." alt="">
        </a>
    </div>
</div>

</div>

<hr>
