<div class="row intro-header">
  <div class="col-lg-12">
    <h1 class="page-header">Tree Biomorph
      <small>Almost as amazing as a real tree</small>
    </h1>
  </div>
</div>

<div class="biomorph-container">

  {{#data-visual as |ctx width height|}}

    {{#biomorph-tree select=ctx.svg.select.tree width=width height=height as | currentGenome | }}


      {{!-- genome here:  {{currentGenome}} --}}

    {{/biomorph-tree}}

  {{/data-visual}}

</div>
